 

#container-login {
    background-image: url(' ../../images/avatarchatapp.jpg ');

    /* Full height */
    height: 100vh; 
    max-width: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
 
   
 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .row-login {
        display: flex;
        justify-content: center;
        align-items: center;
    }
 
}

 
  